@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap');


/*------------------------ ตั้งค่าทั่วไป ค่าเริ่มต้นหน้าเว็บ ------------------------------- */

* {
    box-sizing: border-box !important;
    transition: ease all 0.5s;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #666666;
    font-size: 14px;
    font-family: 'Kanit', sans-serif;
    line-height: 1.80857;
    font-weight: normal;
    overflow-x: hidden;
}

p {
    margin: 20px;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
}

a {
    color: #222222;
    text-decoration: none;
    outline: none !important;
}

a,
.btn {
    text-decoration: none !important;
    transition: all .3s ease-in-out;
}

/*------ ค่าเริ่มต้นของรูปภาพ -------*/

img {
    max-width: 100%;
    height: auto;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 0px;

}

.btn-custom {
    margin-top: 20px;
    background-color: transparent !important;
    border: 2px solid #ddd;
    padding: 12px 40px;
    font-size: 16px;
}

/*------------------------------------------------------------------------------*/



.title{
    text-align: center;
    font-size: 50px;
    margin-bottom: 50px;
    margin-top: 20px;
}

.A1{
    display: flex;
    column-gap: 30px;
    flex-direction: row;
}
.SourceCodeTitle{
    flex: 1;
    margin-left: 50px;
}
.InfoTitle{
    margin-right: 50px;
    align-items: right;
}
.picbox{
    flex: 7;
    overflow-y: auto;
    max-height: 500px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 30px;

}
.pic{
    width: 100%;
}
.info{
    flex: 8;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

}
.youtubePremium{
    margin-top: 50px;
    text-align: center;
}



/*-------------------------------- navbar --------------------------------------*/

.navbar {
    padding: 10px 30px;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 18px;
}
.bg-lights {
    background-color: #f2f7fd;
    box-shadow: 0px 0px 10px 0px;
    /*border-top: 45px solid #333a44;*/
}
.navbar-light .navbar-nav .nav-link {
    color: #24292f;
    font-weight: 500;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #4f99e5;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #4f99e5;
}



/* ----------------------------------- header ------------------------------------ */

.banner_section {
    width: 100%;
    float: left;
    background-color: #333a44;
    height: auto;
    padding-bottom: 90px;
    padding-top: 150px;

}

/*------ รูปแบบรูป -------*/

.image_1 {
    width: 100%;
    float: left;
    padding: 20px;

}

.text{
    width: 100%;
    float: left;
    font-size: 30px;
    color: #fefeff;
    font-weight: 600;
    text-transform: uppercase;

}
.main_text {
    width: 100%;
    margin-bottom: 10px;
    float: left;
    font-size: 70px;
    color: #fff131;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 50px;
}

.controller_text {
    width: 100%;
    float: left;
    font-size: 70px;
    color: #599ee9;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 50px;
}
.banner_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #fefeff;
    font-weight: 500;
    margin-left: 0px;
    padding-top: 50px;
}

/*------ รูปแบบปุ่ม -------*/

.shop_bt {
    width: 25%;
    float: left;
    font-size: 18px;
    text-align: center;
    background-color: #fff131;
    color: #191919;
    border-radius: 10px;
    padding: 5px 0px;
    margin-top: 30px;
}

.shop_bt a{
    color: #191919;
}
.shop_bt a:hover{
    color: #4f99e5;
}


/*------------------------ About -------------------------------*/


.about_section{
    width: 100%;
    float: left;
    background-color: #f2f7fd;
    height: auto;
    padding-bottom: 90px;
    padding-top: 90px;

}

.about_text{
    width: 100%;
    float: left;
    font-size: 50px;
    color: #2d343e;
    font-weight: 600;
    text-transform: uppercase;
    text-align: right;
}

.lorem_text{
    width: 100%;
    float: left;
    font-size: 18px;
    color: #2d343e;
    margin-left: 0px;
    text-align: right;
}


/*--------------------------- Source Code -------------------------------- */


.code_section{
    width: 100%;
    float: left;
    background-color: #333a44;
    height: auto;
    padding-bottom: 100px;
    padding-top: 100px;}

.code_text_2{
    width: 100%;
    float: left;
    font-size: 50px;
    color: #fff131;
    font-weight: 600;
    text-transform: uppercase;

}
.controller_text_2 {
    width: 100%;
    float: left;
    font-size: 58px;
    color: #fefeff;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 50px;
}
.banner_text_2 {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #fefeff;
    font-weight: 500;
    margin-left: 0px;
    padding-top: 50px;
}


/*------------------------ Video Demo -------------------------------*/
.video_section{
    width: 100%;
    float: left;
    background-color: #f2f7fd;
    height: auto;
    padding-bottom: 90px;
    padding-top: 90px;

}

.video_text{
    width: 100%;
    float: left;
    font-size: 50px;
    color: #2d343e;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;


}

.long_text{
    font-size: 18px;
    color: #2d343e;
    text-align: center;

}

/*------------------------ Member -------------------------------*/
.member_section{
    width: 100%;
    float: left;
    background-color: #333a44;
    height: auto;
    padding-bottom: 90px;
    padding-top: 90px;

}
.member_section2{
    text-align: center;
}
.member_text{
    width: 100%;
    float: left;
    font-size: 50px;
    color: #2d343e;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}
.column{
    display: flex;
    column-gap: 100px;
    justify-content: center;
}
.card-text{
    font-size: 20px;
}
.long_text_member{
    color: #fefeff;
    text-align: center;
    font-size: 18px;
}